.editor-picker {
  height: 200px;
  width: 500px;
  border: 1px solid rgb(118, 118, 118);
  overflow: hidden scroll;
  resize: both;
}

.editor-picker-row {
  cursor: default;
}

.editor-picker-row:hover {
  background-color: #eeeeee;
}

.editor-picker-row:active,
.editor-picker-row-selected {
  background-color: #dddddd;
}
