#transpose-menu {
  position: absolute;
  background-color: white;
  top: 42px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
