#chart,
#chart-full {
  font-family: 'Courier New', monospace;
  background-color: white;
  margin: 0;
  width: 100%;
  max-width: 900px;
  padding: 64px;
}

#chart {
  border-radius: 12px;
}

.chart-header {
  margin: 0 0 32px 0;
}

.chart-title {
  font-size: 1.8em;
  margin: 0px;
}

.chart-subtitle {
  margin: 0.5em 0 0 0;
}

.cmSectionLabel {
  font-weight: bold;
}

.cmSong {
  font-size: 1.2em;
}

.cmSection {
  margin-bottom: 1.2em;
}
