#chart,
#chart-full {
  font-family: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New',
    monospace;
  background-color: white;
  margin: 0;
  width: 100%;
  max-width: 1000px;
}

#chart {
  border-radius: 12px;
  padding: 64px;
  font-size: 1.2em;
}

#chart-full {
  padding: 32px;
  font-size: 1em;
}

#chart-content {
  font-family: inherit;
}

.chart-header {
  margin: 0 0 32px 0;
}

.chart-title {
  font-size: 1.8em;
  margin: 0px;
}

.chart-subtitle {
  margin: 0.5em 0 0 0;
}

.cmSectionLabel,
.cmChordLine {
  font-weight: bold;
}

.cmSection {
  margin-bottom: 1.2em;
}
