#editor-wrapper {
  flex-grow: 1;
  background-color: var(--gray1);
  display: flex;
  align-items: stretch;
  overflow-y: auto;
}

#editor {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
}

.editor-header-wrapper {
  display: flex;
  justify-content: center;
  padding: 2px 0;
  border-bottom: solid 1px var(--gray3);
}

.editor-header {
  font-weight: normal;
  font-size: 0.9em;
}

#editor-src-section,
#editor-preview-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#editor-src-section {
  border-right: solid 1px var(--gray3);
}

#editor-src,
#editor-src:focus-visible {
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px;
  width: 100%;
  flex-grow: 1;
}

#editor-preview {
  padding: 12px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
