@import 'tailwindcss';

@theme {
  --font-sans: Roboto, sans-serif;
  --font-mono: Roboto Mono, Courier New, monospace;

  --color-bg-0: #fbfbfb;
  --color-bg-button: #eeeeee;
  --color-bg-button-hover: #e3e3e3;
  --color-bg-button-active: #d6d6d6;
  --color-bg-1: #ebebeb;
  --color-bg-2: #e7e6e5;
  --color-bg-3: #d2d1d1;
  --color-bg-9: #2e2e2e;
  --color-bg-error: #db1212;

  --color-fg-0: #000000;
  --color-fg-1: #696866;
  --color-fg-2: #afafaf;
  --color-fg-8: #eeeeee;
  --color-fg-9: #ffffff;
  --color-fg-error: #f00000;
  --color-fg-disabled: #878786;
  --color-fg-link: #0077de;
  --color-fg-link-hover: #00549e;

  --color-dialog-backdrop: #00000060;
}

@layer components {
  html,
  body {
    @apply overflow-hidden overscroll-none;
  }
  body {
    @apply text-fg-0 h-dvh;
  }
  select {
    @apply bg-bg-button rounded-sm;
  }
  .icon {
    @apply h-full w-full flex-shrink-0;
  }
  .link {
    @apply text-fg-link hover:text-fg-link-hover cursor-pointer hover:underline;
  }
  :disabled {
    @apply text-fg-disabled;
  }
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
