.order-editor {
  display: flex;
  height: 200px;
}

.order-editor-list {
  width: 150px;
  border: 1px solid rgb(118, 118, 118);
  overflow: hidden auto;
}

.order-editor-list-row,
.order-editor-list-row-selected {
  cursor: default;
}

.order-editor-list-row:hover {
  background-color: #eeeeee;
}

.order-editor-list-row:active,
.order-editor-list-row-selected {
  background-color: #dddddd;
}

.order-editor-button-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2px;
}
