.menu {
  position: absolute;
  background-color: white;
  top: 42px;
  right: 0px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  width: 250px;
}

.menu-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.menu-divider {
  height: 0px;
  width: 100%;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 22px;
  border-top: 1px solid lightgray;
}

.menu-row {
  display: flex;
  flex-direction: row;
}

.menu-row-text {
  flex-grow: 1;
}
