.jc-song {
  margin-top: 8px;
}

.jc-section {
  font-family: var(--chart-font);
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.jc-section-label {
  font-weight: bold;
}
