#song-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#song-page-content,
#song-page-content-full {
  flex-grow: 1;
  height: 100%;
  margin-top: 52px; /* <- navbar height */
  overflow: none scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#song-page-content {
  background-color: lightgray;
  padding: 32px;
}
