#toolbar {
  background-color: var(--gray0);
  width: 100%;
  padding: 6px 10px;
  border-bottom: solid 1px var(--gray3);
  display: flex;
  gap: 10px;
}

.toolbar-button,
.toolbar-button-disabled {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  gap: 2px;
  user-select: none;
}

.toolbar-button {
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: var(--gray2);
}

.toolbar-button:active {
  background-color: var(--gray3);
}

.toolbar-button-disabled {
  color: var(--gray4);
}

.toolbar-button-text {
  margin-top: 2px;
}
