#editor-left-menu {
  background-color: var(--gray0);
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px;
  border-right: solid 1px var(--gray3);
}

.editor-left-menu-section {
  width: 100%;
}

.editor-left-menu-section-header {
  font-weight: normal;
  font-size: 1em;
}

.editor-left-menu-input {
  width: 100%;
}
