* {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  max-height: 100%;
  color: var(--gray7);
}

html {
  --gray0: #fcfcfc;
  --gray1: #eeeeee;
  --gray2: #e4e7ea;
  --gray3: #cfd2d6;
  --gray4: #909295;
  --gray5: #666869;
  --gray6: #323333;
  --gray7: #1e2021;
}
