.section-editor-section {
  width: 15%;
  height: 100%;
  min-width: 105px;
  display: flex;
  flex-direction: column;
}

.section-list {
  border: 1px solid rgb(118, 118, 118);
  overflow: hidden auto;
}

.section-input {
  width: 100%;
}

.section-editor-button {
  height: 1.5em;
  width: 1.5em;
}

.section-list-row {
  cursor: default;
}

.section-list-row:hover {
  background-color: #eeeeee;
}

.section-list-row:active,
.section-list-row-selected {
  background-color: #dddddd;
}
