#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#title-row {
  background-color: var(--gray3);
  display: flex;
  overflow: auto;
  min-height: fit-content;
}

#title {
  margin: 10px 12px 6px;
  white-space: nowrap;
  font-size: 1.7em;
}

#content {
  flex-grow: 1;
  background-color: var(--gray1);
  display: flex;
  align-items: stretch;
  overflow-y: auto;
}
