#tablist {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-left: 8px;
  padding-right: 16px;
  gap: 8px;
  overflow: auto visible;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tablist::-webkit-scrollbar {
  display: none; /* Chrome */
}

.tab,
.tab-selected {
  min-width: max-content;
  height: 30px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 10px;
}

.tab {
  background-color: var(--gray2);
}

.tab:hover,
.tab-selected {
  background-color: var(--gray0);
}

.tab-title {
  font-size: 1em;
  font-weight: normal;
  margin-top: 2px;
}

.tab-close-button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  display: flex;
}

.tab-close-button:hover {
  background-color: var(--gray2);
}

.tab-close-button:active {
  background-color: var(--gray3);
}
