.chords-editor {
  font-family: 'Courier New', monospace;
}

.chords-editor-row {
  display: flex;
  height: 1em;
}

.chords-editor-inline {
  display: flex;
  justify-content: space-between;
}

.chords-editor-lyric-letter,
.chords-editor-empty-letter,
.chords-editor-chord-letter,
.chords-editor-lyric-letter-selected {
  cursor: default;
}

.chords-editor-lyric-letter:hover {
  background-color: #dddddd;
}

.chords-editor-lyric-letter-selected {
  background-color: #cccccc;
}

.chords-editor-chord-input {
  font-size: 0.6em;
  min-width: 10px;
}

.chords-editor-chord-input:focus-visible {
  font-size: 0.9em;
}
