.chords-editor-section {
  width: 45%;
}

.chords-editor {
  font-family: 'Courier New', monospace;
}

.chord-input {
  width: 100%;
  max-width: 80px;
}

.chords-editor-row {
  display: flex;
  height: 1em;
}

.chords-editor-selected-chord {
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}

.chords-editor-lyric-letter,
.chords-editor-empty-letter,
.chords-editor-chord-letter,
.chords-editor-lyric-letter-selected {
  cursor: default;
}

.chords-editor-lyric-letter:hover {
  background-color: #dddddd;
}

.chords-editor-lyric-letter-selected {
  background-color: #cccccc;
}

.chords-editor-chord-input {
  font-size: 0.6em;
  min-width: 10px;
}

.chords-editor-chord-input:focus-visible {
  font-size: 0.9em;
}
